<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<table>
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c1">
        <table>
            <tr><td class="cardLocation l0">${card11!}</td></tr>
            <tr><td class="cardLocation l1">${card12!}</td></tr>
            <tr><td class="cardLocation l2">${card13!}</td></tr>
            <tr><td class="cardLocation">${card14!}</td></tr>
            <tr><td class="cardLocation">${card15!}</td></tr>
            <tr><td class="cardLocation">${card16!}</td></tr>
            <tr><td class="cardLocation">${card17!}</td></tr>
            <tr><td class="cardLocation">${card18!}</td></tr>
            <tr><td class="cardLocation">${card19!}</td></tr>
            <tr><td class="cardLocation">${card110!}</td></tr>
            <tr><td class="cardLocation">${card111!}</td></tr>
            <tr><td class="cardLocation">${card112!}</td></tr>
            <tr><td class="cardLocation">${card113!}</td></tr>
            <tr><td class="cardLocation">${card114!}</td></tr>
        </table>
        <form method="get" action="AcesUp">
            <button name="input" value="1" id="dealButton">Move</button>
        </form>
        <form method="get" action="AcesUp">
            <button name="input" value="2" id="dealButton">Remove</button>
        </form>
    </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0">${card21!}</td></tr>
                <tr><td class="cardLocation l1">${card22!}</td></tr>
                <tr><td class="cardLocation l2">${card23!}</td></tr>
                <tr><td class="cardLocation">${card24!}</td></tr>
                <tr><td class="cardLocation">${card25!}</td></tr>
                <tr><td class="cardLocation">${card26!}</td></tr>
                <tr><td class="cardLocation">${card27!}</td></tr>
                <tr><td class="cardLocation">${card28!}</td></tr>
                <tr><td class="cardLocation">${card29!}</td></tr>
                <tr><td class="cardLocation">${card210!}</td></tr>
                <tr><td class="cardLocation">${card211!}</td></tr>
                <tr><td class="cardLocation">${card212!}</td></tr>
                <tr><td class="cardLocation">${card213!}</td></tr>
                <tr><td class="cardLocation">${card214!}</td></tr>
            </table>
            <form method="get" action="AcesUp">
                <button name="input" value="3" id="dealButton">Move</button>
            </form>
            <form method="get" action="AcesUp">
                <button name="input" value="4" id="dealButton">Remove</button>
            </form>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0">${card31!}</td></tr>
                <tr><td class="cardLocation l1">${card32!}</td></tr>
                <tr><td class="cardLocation l2">${card33!}</td></tr>
                <tr><td class="cardLocation">${card34!}</td></tr>
                <tr><td class="cardLocation">${card35!}</td></tr>
                <tr><td class="cardLocation">${card36!}</td></tr>
                <tr><td class="cardLocation">${card37!}</td></tr>
                <tr><td class="cardLocation">${card38!}</td></tr>
                <tr><td class="cardLocation">${card39!}</td></tr>
                <tr><td class="cardLocation">${card310!}</td></tr>
                <tr><td class="cardLocation">${card311!}</td></tr>
                <tr><td class="cardLocation">${card312!}</td></tr>
                <tr><td class="cardLocation">${card313!}</td></tr>
                <tr><td class="cardLocation">${card314!}</td></tr>
            </table>
            <form method="get" action="AcesUp">
                <button name="input" value="5" id="dealButton">Move</button>
            </form>
            <form method="get" action="AcesUp">
                <button name="input" value="6" id="dealButton">Remove</button>
            </form>
        </td>
        <td class="columnOfCards" id="c4">
            <table>
                <tr><td class="cardLocation l0">${card41!}</td></tr>
                <tr><td class="cardLocation l1">${card42!}</td></tr>
                <tr><td class="cardLocation l2">${card43!}</td></tr>
                <tr><td class="cardLocation">${card44!}</td></tr>
                <tr><td class="cardLocation">${card45!}</td></tr>
                <tr><td class="cardLocation">${card46!}</td></tr>
                <tr><td class="cardLocation">${card47!}</td></tr>
                <tr><td class="cardLocation">${card48!}</td></tr>
                <tr><td class="cardLocation">${card49!}</td></tr>
                <tr><td class="cardLocation">${card410!}</td></tr>
                <tr><td class="cardLocation">${card411!}</td></tr>
                <tr><td class="cardLocation">${card412!}</td></tr>
                <tr><td class="cardLocation">${card413!}</td></tr>
                <tr><td class="cardLocation">${card414!}</td></tr>
            </table>
            <form method="get" action="AcesUp">
                <button name="input" value="7" id="dealButton">Move</button>
            </form>
            <form method="get" action="AcesUp">
                <button name="input" value="8" id="dealButton">Remove</button>
            </form>
        </td>
    </tr>
</table>

<form method="get" action="AcesUp">
    <button name="input" value="9" id="dealButton">Deal</button>
</form>

</body>
</html>